@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Engineer</h1>

<h3>Name: @Model.Name</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not licensed to repair any current machines.</p>
}
else
{
  <h3>This engineer is licensed to repair the following machines: </h3>
    <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Machine.Type
        @using (Html.BeginForm("DeleteMachine", "Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Remove Machine from Engineer"/>
        }
      </li>
    }
    </ul>
}

<h3>Add a machine that this engineer can repair</h3>

@using (Html.BeginForm("AddMachine", "Engineers"))
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add Machine"/>
}



<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId})</p>